* {
    margin: 0;
    padding: 0;
    font-family: Cambria,sans-serif;
}

.contenedor {
    display: flex;
    align-items: center;
    height: 100vh;
}
.form-login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: #fff;
    padding: 4rem;
    height: 80%;
}

.logo-credi {
    font-size: 1.4rem;
    font-weight: normal;
    font-family: "Calibri Light", serif
}
.logo-varmont {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: "Istok Web", sans-serif;
}
.in-login {
    background-color: black;
    color: white;
    outline: none;
    border: 1px solid white;
}
