* {
    margin: 0;
    padding: 0;
    font-family: Verdana,sans-serif;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo {
    color: #fff;
    font-family: "Istok Web", sans-serif;
}
.form-login {
    display: grid;
    align-content: center;
    text-align: center;
    color: #fff;
    padding: 5rem;
    border: 1px solid #fff;
    border-radius: 3rem;
    height: 80%;
    width: 90%;
    font-size: 3rem;
    gap: 5rem;
}

.logo-credi {
    font-size: 4rem;
    font-weight: normal;
    font-family: "Calibri Light", serif
}
.logo-varmont {
    font-size: 8rem;
    font-weight: bold;
    font-family: "Istok Web", sans-serif;
}
.in-login {
    background-color: black;
    color: white;
    outline: none;
    border: 1px solid white;
    border-radius: 1rem;
}
.btn-send {
    font-size: 30px !important;
}