* {
    margin: 0;
    padding: 0;
    font-family: Cambria,sans-serif;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.form-login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: #fff;
    height: 90%;
    font-size: 1.1rem;
}

.logo-credi {
    font-size: 1.8rem;
    font-weight: normal;
    font-family: "Calibri Light", serif
}
.logo-varmont {
    font-size: 2.2rem;
    font-weight: bold;
    font-family: "Istok Web", sans-serif;
}
.in-login {
    background-color: black;
    color: white;
    outline: none;
    border: 1px solid white;
}
/*BODY*/

.page-day {
    padding-top: 4rem;
    text-align: center;
}

.info-user {
    padding: 1rem;
    width: 85%;
    border: 1px solid black;
    border-radius: 1.3rem;
    margin: auto;
}









