* {
    margin: 0;
    padding: 0;
    font-family: Cambria,sans-serif;
}

li {
    list-style: none;
}
.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.form-login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: #fff;
    height: 90%;
    font-size: 1.1rem;
}

.logo-credi {
    font-size: 1.8rem;
    font-weight: normal;
    font-family: "Calibri Light", serif
}
.logo-varmont {
    font-size: 2.2rem;
    font-weight: bold;
    font-family: "Istok Web", sans-serif;
}
.in-login {
    background-color: black;
    color: white;
    outline: none;
    border: 1px solid white;
}
/*BODY*/

.page-day {
    padding-top: 4rem;
    text-align: center;
}

.info-user {
    padding: 1rem;
    width: 85%;
    border: 1px solid gray;
    border-radius: 1.3rem;
    margin: auto;
}
.new-pay {
    height: 41vh;
    margin: 20px;
    padding: 10px 0;
    background-color: #dcdada;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}
.list-pay {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 10px;
    margin: 0;
    list-style-type: none;
}


.opciones-prestamo {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
}

.tarjeta-prestamo {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 7px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    user-select: none;
}

input[type="radio"]:checked + .tarjeta-prestamo {
    color: #fff;
    background-color: gray;
}
.tarjeta-prestamo p {
    margin: 0;
}



